<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.companyInsurance.mapper.CompanyInsuranceMapper">
    <select id="selectListByDateDiff" resultType="org.jeecg.modules.companyInsurance.entity.CompanyInsurance">
<!-- 上年终保日期与当前日期比小于制定时间'last_year_invalid' -->
        SELECT * FROM company_insurance where DateDiff(last_year_invalid,'2021-5-30') <![CDATA[ <= ]]> #{days}
    </select>

</mapper>